<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.iu.base.match.ConjunctiveVO" alias="ConjunctiveVO"/>
		<typeAlias type="com.iu.base.match.AdjModVO" alias="AdjModVO"/>
		<typeAlias type="com.iu.base.match.NounVO" alias="NounVO"/>

	</typeAliases>
</configuration>